.header-container {
  position: relative;
}
.barTop {
  width: 100%;
}
.bacroundImg {
  /* https://api.themoviedb.org/3/movie/{movie_id}/images */
  background-image: url("public/img/fontPage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  /* height: 250px;  */
}
.text-white {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento x, desplazamiento y y difuminado */
}
.text-white {
  font-weight: bold;
}

.text-white {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente en color negro */
  color: white;
  padding: 5px 10px; /* Añade espacio alrededor del texto para que el fondo sea visible */
}
